<h3>About Page </h3>

<h4>This is a Test 5</h4>

<div class="bottomMarginDefault">
    <strong>id_token</strong>
    <span>@await ViewContext.HttpContext.GetTokenAsync("id_token")</span>
</div>

<div class="bottomMarginDefault">
    <strong>access_token</strong>
    <span>@await ViewContext.HttpContext.GetTokenAsync("access_token")</span>
</div>

<div class="bottomMarginDefault">
    <strong>refresh_token</strong>
    <span>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</span>
</div>


@foreach (var claim in User.Claims)
{
    <div>
        <strong>@claim.Type: </strong>
        <span>@claim.Value</span>
    </div>
}